<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Review</title>
</head>
<body>
  {% comment %} # ation allows to change the request URL for the submit {% endcomment %}
  <form method="POST" action="/reviews/"> 
    {% csrf_token %}
    {% comment %} V01 error validation not needed anymore {% endcomment %}
    {% comment %} {% if has_error %}
      <p>Invalid form - Enter a valid username!</p>
    {% endif %} {% endcomment %}
    {% comment %} V01 without django form class {% endcomment %}
    {% comment %} <label for="username">Your name</label>
    <input id="username" name="form_item_name" type="text"> {% endcomment %}
    {% comment %} V02 with django form class {% endcomment %}
    {{ form }}
    <button type="submit">Send</button>
  </form>
</body>
</html>