{% extends "blog/base.html" %}
{% load static %}

{% block page_title %}
{{ clicked_post.title }}
{% endblock page_title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/post-detail.css" %}">
{% endblock css_files %}

{% block body_content %}
<section id="summary">
    <h2> {{ clicked_post.title }} </h2>
    <div>
        <h3>TAGS</h3>
        {% for tag in post_tags  %}
        <span class="tag"> {{ tag.caption }}</span>
        {% endfor %}
    </div>
    <article>
        <img src="{% static "blog/images/"|add:clicked_post.image_name %}" alt="Post Title">
        <address>By <a href="mailto:{{clicked_post.author.email_address}}">{{ clicked_post.author|title }}</a></address>
        <div>
            Last updated on <time> {{ clicked_post.date|date:"d M Y" }} </time>
        </div>
    </article>
</section>
<main>
    <p>
        {{ clicked_post.content|linebreaks }}
    </p>
</main>

{% endblock body_content %}