@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

html {
    font-family: "Science Gothic", sans-serif;
    background-color: burlywood;
}

body {
    margin: 0;
}
